/* Footer.css */
.footer {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .social-links a {
    color: white;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  